<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZBNetWork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E8460AF1D4F4930005B7EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E8460C21D4F4931005B7EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E8460CD1D4F4931005B7EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
